<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="AppsChef" />
  <meta name="keywords" content="AppsChef" />
  <link rel="icon" href="<%= ApplicationController::APPSCHEF_URL %>/images/favicon.ico" type="image/x-icon"/>
    <%= stylesheet_link_tag  "#{ApplicationController::APPSCHEF_URL}/stylesheets/private2.css",
      "#{ApplicationController::APPSCHEF_URL}/stylesheets/fm_form.css",
      "#{ApplicationController::APPSCHEF_URL}/stylesheets/960gs/fluid_grid.css",
      "#{ApplicationController::APPSCHEF_URL}/stylesheets/colorbox.css",
      "#{ApplicationController::APPSCHEF_URL}/stylesheets/footpanel.css",
      "#{ApplicationController::APPSCHEF_URL}/stylesheets/redmond/jquery-ui-1.8.7.custom.css"%>
    <title>Human Resources Management: <%= render :partial => "layouts/title" %></title>


    <style>.ui-date{background:#FFF !important; width:140px !important;}
    </style>

    <%= javascript_include_tag "#{ApplicationController::APPSCHEF_URL}/javascripts/jquery.js",'jrails',
      'jquery-idleTimeout.js',
      "#{ApplicationController::APPSCHEF_URL}/javascripts/jquery-ui-1.8.7.custom.min.js",
      'jquery-ui-1.8.7.custom/development-bundle/ui/jquery.ui.core.js',
      'jquery-ui-1.8.7.custom/development-bundle/ui/jquery.ui.widget.js',
      'jquery-ui-1.8.7.custom/development-bundle/ui/jquery.ui.datepicker.js',
      'jquery-ui-1.8.7.custom/development-bundle/ui/i18n/jquery.ui.datepicker-id.js',
      "#{ApplicationController::APPSCHEF_URL}/javascripts/jquery.colorbox.js",
      "#{ApplicationController::APPSCHEF_URL}/javascripts/jquery.hint.js",
      "#{ApplicationController::APPSCHEF_URL}/javascripts/jquery.tooltip.min.js",
      "#{ApplicationController::APPSCHEF_URL}/javascripts/ui.spinner.js", "pagination.js" %>

    <%= javascript_include_tag 'jquery.tablesorter.js','jquery.tablesorter.pager.js', "jquery.dataTables.min",
      'jquery.address-1.3.2.min', 'application.js', 'jquery.labelify.js','jquery.alphanumeric.pack.js'%>

 <script type="text/javascript">

	 function changeProduk(){
		 $('#nm_produk').removeAttr('disabled').val('');
	 }

   function ajaxLoad(url){
     $("#ajax-load").show();
     $.get(url, function(data) {
       $("#ajax-load").hide();
     });
   }

   function ajaxLoad1(url, div_btn, div_load){
     $("#" + div_load + "").show();
     $("#" + div_btn + "").hide();
       $.get(url, function(data) {
         $("#ajax-load").hide();
       });
    }

	 $(document).ready(function(){
     $('#training_promoter_phone').numeric();
     $.datepicker.setDefaults({
        showOn: "button",
        buttonImage: "<%=ApplicationController::APPSCHEF_URL%>/images/calendar.gif",
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy',
        altFormat: 'dd MM yy',
        firstDay: 1
      });

      $( ".ui-date, .ui-date2" ).datepicker({
        buttonImageOnly: true
      })

      $("#add_product").click(function(){
        $('#box_retur_1').show();
      });

     $('body').idleTimeout({
        inactivity: <%= TIMEAUTOLOGOUT %>,
     		noconfirm: 2000,
     		sessionAlive: 2000,
        redirect_url: 'http://192.168.0.136:3003/a/nungky_corp',
        alive_url: '/dashboard',
        logout_url: '/logout'
      });

    });

   $(function() {
		$( "#datepicker" ).datepicker();
    $( "#datepicker2" ).datepicker();
	});

  function onCancel(url){
    ajaxLoad(url)
    window.location = url
  }
 </script>


</head>
  <body class="body-popup">
    <style type="text/css">
    .frm-popup .input-help label {
              float: none;
          }
  </style>
    <div class="frm-popup" id="popup_employment">
      <div class="title-page-tambah">Tambah Pelatihan</div>
      <div class="input-help">
       <label>Field dengan tanda <span class="redstar">*</span> harus diisi</label>
      </div><div class="clear"></div>
        <div class="box-form">
            <% form_for @training, :url => person_trainings_path do |f| %>
              <div id="box_retur_0">
                
                  <%= render :partial => 'training_add_form', :locals => {:f => f} %>
                
                <span class="clear"></span>
               
                <div class="block-btn-center center-text">
                  <%= render :partial => "layouts/button_loader"  %>
                  <div id="button">
                    <input type="reset" onclick="parent.$.fn.colorbox.close();" name="info_section_cancel_basic" value="Batal" class="grey_button" id="info_section_cancel_basic">
                    <input type="submit" value="Simpan" name="info_section_save_basic" id="info_section_save_basic" class="blue_button" onclick="ajaxLoad1('<%= person_trainings_path %>','button','ajax-load1')"/>
                  </div>
                </div>
              </div>
            <% end-%>
        </div>
      </div>
  </body>
     </html>