<%= render :partial=> "layouts/shared/breadcrumbs" %>
<fieldset class="fm-table">
  <legend>
    <a href="#" id="help_dash" class="icons help-top-icon" title="Click to show/hide information">&nbsp;</a>
    Status Kontrak
  </legend>
  <%= render :partial => "layouts/howto/howto_content"%>
  <div class="box-form">
    <div class="panelFilter">
      <table cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td>
              <a class="grey_button2" id="filter_trigger_status"> 
                <span class="icons filter-ico">&nbsp;</span> Filter 
              </a>
            </td>
          </tr>
          <tr id="filter_block_status">
            <td>
              <div class="expand_filter">
                <div id="filter_st">
                  <% form_remote_for :filter_status, :url => {:action => :find_statistik_get} , :method => :get, :html=> {:id => "form_ajax_status"} do |f| %>
                    <div class="filter_opt filter-inline">
                      <label class="none">Pada tanggal:</label>
                      <%= f.text_field :employment_start, :class => "ui-date" %>
                      <input type="hidden" name="txt_action" value="status"/>
                      <input type="button" class="grey_button2 none" value="Lihat statistik" name="commit" id="filter_status_submit" onclick="cekValidateStatus();"/>
                    </div>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="clear"></div>  
  <div class="table-fix" style="display:none" id="table-fix_status">
  	<div id="parent_auto">
      <div class="table-over3 showed" id="content_status_table" style="width:30%">     
        <%= hidden_field_tag "page_num_status",1 %>
        <%= hidden_field_tag "sort_status","firstname" %>
        <%= hidden_field_tag "direction_status","asc" %>         
      </div>
      <div class="chart-auto" id="chart_auto" style="width: 70%;">
        <div class="bar-show-chart" title="Tampilkan Grafik" id="show_chart" onClick="sliderChart2('medium');$(this).children('span').toggleClass('prev-ads-ico');">
          <span class="icons next-ads-ico">&nbsp;</span>
        </div>
        <table class="no-border chart-block-table">
          <tr>
            <td valign="top" class="center-text" id="div_content_status">
            	<div class="title">Absensi</div>
                <img src="img_chart/c1.jpg" alt="c1" style="width:190px"/>
                <div class="clear"></div>
                <div class="title">Detail Absensi</div>
            	<img src="img_chart/c2.jpg" alt="c2" style="width:540px" />
             </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
   <div class="clear"></div>

  <div class="panelFilter" id="panelFilterstatus">
    <div class="pagination" style="display:none;">
      <span class="paginationResult"><span id="pagefirststatus"></span>-<span id="pagelaststatus"></span> of <span id="totalpagestatus"></span></span>
      <div id="pager" class="pager" style="float:right;">
        <a href="javascript:void(0)" onClick="" id="lastPagestatus" title="Halaman Terakhir"><span class="icons last_ico last">&nbsp;</span></a>
        <a href="javascript:void(0)" onClick="" id="nextPagestatus" title="Halaman Selanjutnya"><span class="icons next_ico next">&nbsp;</span></a>
        <a href="javascript:void(0)" onClick="" id="prevPagestatus"><span class="icons prev_ico prev" title="Halaman Sebelumnya">&nbsp;</span></a>
        <a href="javascript:void(0)" onClick="showResultstatus(1)" id="firstPagestatus" title="Halaman Pertama"><span class="icons first_ico first">&nbsp;</span></a>
      </div>
    </div>
  </div>

</fieldset>

 <script type="text/javascript">
    //Tooltip
    $(document).ready(function(){
      var background = 'rgba(255,255,255,0.9)';
      var border = '#A9D5F2';
      var font_color = '#56626a';
      $('.bar-show-chartX').bt({
        showTip: function(box) {
	  $(box).fadeIn('fast');
        },
        shrinkToFit: true,
        hoverIntentOpts: {
	  interval: 0,
	  timeout: 9999
        },
        positions: ['right', 'right'],
        fill: background,
        strokeStyle: border,
        overlap: 0,
        centerPointY: 1,
        centerPointX: 0,
        cornerRadius: 4,
        right: 20,
        cssStyles: {
	  fontFamily: 'Arial,"Lucida Grande",Helvetica,Arial,Verdana,sans-serif',
	  fontSize: '12px',
	  color: font_color,
	  width: 'auto',
	  padding: 5,
        },
        shadow: true,
        shadowColor: 'rgba(0,0,0,.2)',
        shadowBlur: 5,
        shadowOffsetX: 0,
        hadowOffsetY: 0
      });
    });
    //Chart
    function sliderChart2(size){
      var w;
      switch(size){
        case "small" : w = 40; break;
        case "medium" : w = 70; break;
        case "large" : w = 100;
      }
      var size_table = 100 - w;
      if(!($('#content_status_table').hasClass("showed"))){
	 $('#chart_auto').css({width: w+"%"},"medium");
	 $('#content_status_table').css({width: size_table+"%"},"medium");
	 $('#parent_auto').removeAttr("style")
	 $('#content_status_table').toggleClass("showed");
      }else{
	 $('#content_status_table').toggleClass("showed");
	 $('#chart_auto').css({width: 1000+"px"},"medium");
	 $('#content_status_table').css({width: 1050+"px"},"medium");
	 $('#parent_auto').css("width","200%");
      }
    }
</script>

<script type="text/javascript">
  $(document).ready(function(){

    var dt = new Date;
    year = dt.getFullYear();

    $( ".ui-date, .ui-date2" ).datepicker({
      buttonImageOnly: true
    })
    
    $('#div_status').hide();
    $('#filter_block_status').show();
    $('#filter_trigger_status').addClass("filter-active")
    $('#filter_trigger_status').click(function(){
    $(this).toggleClass("filter-active");
    $('#filter_block_status').toggle();
  });
  $('.expand_filter .reset-filter-ico').click(function(){
    $('#filter_block_status').hide();
    $('#filter_trigger_status').removeClass("filter-active");
  });
});

function showResultstatus(page){
  var action = '/dashboard/get_status_table?employment_start='+$('#filter_status_employment_start').val()+'&filter=status&page='+page;
  var params = '&sort='+$('#sort_status').val()+'&direction='+$('#direction_status').val();
  $.get(action+params,function(data){}); 
}

function sortResultstatus(field_name,direction){
  var page_num = $("#page_num_status").val();
  var action = '/dashboard/get_status_table?employment_start='+$('#filter_status_employment_start').val()+'&filter=status&page='+page_num+'&sort='+field_name+'&direction='+direction;
  $.get(action,function(data){}); 
}

function cekValidateStatus(){
  sdate = $("#filter_status_employment_start").val();
  if (sdate == ""){
    $('#div_status').show();
    $('#div_status').html(htmlValidateStatus('Status karyawan perusahaan pada tanggal tidak boleh kosong'));
    $('#status_desc_role').show();
    $('#status_desc_role').html(htmlValidateStatus('Status karyawan perusahaan pada tanggal tidak boleh kosong'));
    return false;
  } else {    
    var form = document.getElementById('form_ajax_status')
    $('#button_status_submit').hide();
    $('#load_status').show();
    if(form.onsubmit()){
      form.submit();
    }
    $.get('/dashboard/get_status_table?employment_start='+$('#filter_status_employment_start').val()+'&filter=status', function(data){});
  }
}

function htmlValidateStatus(say){
  var data = '';
  data += '<div class="dashboard-chart" id="c3">';
  data += '<fieldset class="chart-block4">';
  data += '<div class="control-box"></div>';
  data += '<div no-chart="">';
  data += '<div id="desc_role" class="no-data-chart">' + say;
  data += '</div>';
  data += '</div>';
  data += '</fieldset>';
  data += '</div>';
  return data;
}
</script>
