<%= render :partial=> "layouts/shared/breadcrumbs" %>
<%= javascript_include_tag  'pagination' %>
<fieldset class="fm-table">
  <legend>
    <a href="#" id="help_dash" class="icons help-top-icon" title="Click to show/hide information">&nbsp;</a>
    Hari Libur
  </legend>
  <%= render :partial => "layouts/howto/howto_content"%>
  <%= render :partial => "layouts/delete_message" %>
  <div class="panelFilter">
    <table cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <%unless @holidays.blank?%>
            <td width="97">
              <% if current_features.include?('holiday_new') %>
                <div class="action_menu">
                  <ul>
                    <li>
                      <a href="" class="grey_button2 cls_delete_holiday_btn">
                        <span class="left">More Actions</span>
                        <span class="icons drop_arrow_ico">&nbsp;</span>
                      </a>
                      <div class="clear"></div>
                      <ul>
                        <li>
                          <a class="list" onclick="onDeleteHolidays()">Delete</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              <% else %>
                &nbsp;
              <% end %>
            </td>
            <td>
              <div class="action_menu">
                <ul>
                  <li>
                    <a class="grey_button2" id="filter_trigger" style="color: rgb(89, 119, 156); ">
                      <span class="icons filter-ico">&nbsp;</span> Filter
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          <% end %>
          <% if current_features.include?('holiday_new') %>
            <td width="260px">
              <div class="pagination">
                <span class="add-button right">
                  <%= link_to "<span class=\'icons add_ico\'>&nbsp;</span> Tambah Hari Libur", "#holiday/new",  :class=>'grey_button2 btn_add_holiday' %>
                </span>
              </div>
              <div class="clear"></div>
            </td>
          <% end %>
        </tr>
        <tr id="filter_block" style="display: table-row; ">
          <td colspan="3">
            <div class="expand_filter">
              <div id="filter_st" style="display: block; ">
                <% form_remote_tag :url => {:action=>:index}, :method => :get  do -%>
                  <div class="left-filter" style="margin-left: 130px">
                    <div id="filter_opt_1">
                      <div class="clear"></div>
                      <div class="filter_opt">
                        <label class="left">Nama</label>
                        <%= text_field :filter, :nama, :class => "left" %>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div id="filter_opt_2">
                      <div class="clear"></div>
                      <div class="filter_opt">
                        <label class="left">Lama hari libur</label>
                        <%= text_field :filter, :duration, :class => "left" %>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                  <div class="right-filter">
                    <div id="filter_opt_3">
                      <div class="clear"></div>
                      <div class="filter_opt">
                        <label class="left">Jumlah Cuti Bersama</label>
                        <%= text_field :filter, :together_holiday, :class => "left" %>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div id="filter_opt_4">
                      <div class="clear"></div>
                      <div class="filter_opt">
                        <label class="left">Periode</label>
                        <%= text_field :filter, :periode, :class => "left datepicker" %>
                        <%= hidden_field :filter, :date %>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="center filter-btn">
                    <%= render :partial => "layouts/button_loader" %>
                    <div id="filter_button">
                      <span class="center"><%= submit_tag 'Tampilkan', :class=>"grey_button2 margintop5", :onclick=> "progress_filter()", :style => 'float :none; margin-bottom : 3px;' %></span>
                      <div class="clear"></div>
                    </div>
                  </div>
                <% end %>
                <div class="clear"></div>
              </div>
            </div>
          </td>
        </tr>
      </tbody></table>

  </div>
  <div class="clear"></div>
  <div id="the_list">
    <%= render :partial => "holidays/list_holidays" %>
  </div>

</fieldset>

<script type="text/javascript">

  $(document).ready(function() {
    $('#filter_block').hide();
    $('#filter_trigger').click(function(){
      $(this).toggleClass("filter-active");
      $('#filter_block').toggle();
    });
    $('.expand_filter .reset-filter-ico').click(function(){
      $('#filter_block').hide();
      $('#filter_trigger').removeClass("filter-active")
    });
    //Filter_Step
    $('#filter_nd').hide();
    $('#next_step').click(function(){
      $('#filter_st').hide();
      $('#filter_nd').show();
    });
    $('#save_create, #cancel_create').click(function(){
      $('#filter_st').show();
      $('#filter_nd').hide();
    });
    
    $(".datepicker").datepicker({
      buttonImageOnly: true,
      altField: "#filter_date",
      altFormat: 'yy-mm-dd'
    });
    
  });

  function hide_all_search(){
    a = false;
    if ($('#filter_opt_1').is(":visible")){
      a = true;
    }
    if ($('#filter_opt_2').is(":visible")){
      a = true;
    }
    if ($('#filter_opt_3').is(":visible")){
      a = true;
    }
    if ($('#filter_opt_4').is(":visible")){
      a = true;
    }
    if (a != true){
      $('.expand_filter').hide();
      onReset();
    }
  }
   
  function onReset(){
    $.ajax({
      url: '/holidays',
      type: 'get',
      dataType: 'script',
      data: {'_method': 'get',"":gaiSelected },
      success: function() {
        clear_field_search();
      }
    });
  }

  function clear_field_search(){
    $("#filter_nama").val("");
    $("#filter_duration").val("");
    $("#filter_together_holiday").val("");
    $("#filter_periode").val("");
  }

   function progress_filter(){
     $('#ajax-load1').show();
     $('#filter_button').hide();
   }

   function stop_filter(){
     $('#ajax-load1').hide();
     $('#filter_button').show();
   }
  
</script>
