<div class="panelFilter">
  <table cellspacing="0" cellpadding="0">
     <tbody><tr>
       <td width="103px">
          <div id="action_menu">
          <ul>
            <li>
              <a class="grey_button2">
                <span class="left">More Actions</span>
                <span class="icons drop_arrow_ico">&nbsp;</span>
              </a>
              <div class="clear"></div>
          <ul>
    <li style="cursor: default; list-style-image: none;"><a onclick="onDelete(1)" class="list">Delete</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  </td>
       <td>
         <div class="pagination">
           <span class="add-button right">
             <a id="add_education" href="/popup_add_pendidikan/<%= @person.id %>" class="grey_button2">
                <span class="icons add_ico">&nbsp;</span>
                Tambah Pendidikan
              </a>
           </span>
         </div>
        <div class="clear"></div>
       </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="clear"></div>
  <table id="education_table">
    <thead>
      <tr>
        <th width="30"><input type="checkbox"/></th>
        <th width="80">Tingkat</th>
        <th width="200" class="right-text">Nama Institusi</th>
        <th width="86" class="center-text">Periode</th>
        <th width="130">Jurusan</th>
        <th width="100">Nilai Akhir</th>
      </tr>
    </thead>

    <tbody>
      <% unless @person.educations.blank? -%>
        <% @person.educations.each do |edu| %>
        <tr>
           <td class="center-text"><%= check_box_tag'myrow[ids][]', edu.id, false %></td>
           <td><a id="popup_edit_pendidikan<%= edu.id %>" href="/popup_edit_pendidikan/<%= @person.id %>/<%= edu.id %>">
             <%= edu.pendidikan_terakhir %></a></td>
           <td class="left-text"><%= edu.institution_name.blank? ? "-" : edu.institution_name%></td>
           <td class="center-text"><%= edu.entry_year.to_s + ' - ' + zero_to_now(edu.graduation_year) %></td>
           <td><%= edu.field_major.blank? ? "-" : edu.field_major %></td>
           <td class="center-text"><%= edu.gpa.blank? ? "-" : edu.gpa %></td>
         </tr>
       <% end %>
     <% else %>
       <tr class="no-data">
          <td colspan="6" class="center-text"><div class="description">Belum Ada Data Pendidikan. </div><div class="info">Silahkan klik<a id="add_education2" href="/popup_add_pendidikan/<%= @person.id %>"> Tambah Pendidikan</a> untuk menambah data</div></td>
       </tr>
     <% end %>
     </tbody>
   </table>

<script>
  var gaiSelectedEducations = []
  
  $(document).ready(function(){
      

    <%  @person.educations.each do |exp| %>
      $("#popup_edit_pendidikan<%= exp.id %>").colorbox({width:"550px",height:"605px", iframe:true,
        onClosed:function(){
          $('#riwayat_pendidikan').load('<%= ApplicationController::BASE_URL %>/riwayat_pendidikan/<%= @person.id %>');
        }
      });
    <%end%>
    
    $("#add_education").colorbox({width:"550px",height:"560px", iframe:true,
      onClosed:function(){
        $('#riwayat_pendidikan').load('<%= ApplicationController::BASE_URL %>/riwayat_pendidikan/<%= @person.id %>');
      }
    });

     $("#add_education2").colorbox({width:"600px",height:"540px", iframe:true,
      onClosed:function(){
        $('#riwayat_pendidikan').load('<%= ApplicationController::BASE_URL %>/riwayat_pendidikan/<%= @person.id %>');
      }
    });

    
      $('#education_table thead tr th input').live('click', function () {
        if ($(this).is(":checked")) {
          $('#education_table tbody tr td input').each(function (){
            $(this).attr( 'checked', true );
            $(this).parent().parent().addClass('row_selected');
            var iId = this ;
            if ( jQuery.inArray(iId.value, gaiSelectedEducations) == -1 ){
              gaiSelectedEducations[gaiSelectedEducations.length++] = iId.value;
            }
          });
        }
        else{
          $('#education_table tbody tr').each(function (){
            $(this).removeClass('row_selected');
            var iId = $('#education_table tbody tr td input');
            gaiSelectedEducations = [];
            iId.attr( 'checked', false );
          });
        }
        var arr_params = new Array();
        $('#education_table tbody input:checked').each(function() {
             arr_params = arr_params.concat($(this).val());
        });        
      });

  });

 
  function delete_pendidikan(){
      var arr_params = new Array();
      $('#education_table tbody input:checked').each(function() {
        arr_params = arr_params.concat($(this).val());
      });
      var controller = "/educations/delete_multiple";
      $("#ajax-load").show();
      $.ajax({
        type: "post",
        url: escape(controller),
        data:{'_method': 'post',"ids":arr_params,"person_id":<%= @person.id %>},
        dataType: 'script',
        success: function(){
          $("#ajax-load").hide();
          $.fn.colorbox.close();
        }
      })
  }
</script>
 