<span class="input">
        <label>Nama Penyakit</label>
        <%= f.text_field :disease_name  %>
     </span>
     <span class="clear"></span>

    <span class="input">
      <label>Mulai </label>
      <%= f.text_field :start, :id => "datepicker"%>
    </span>
    <span class="clear"></span>

<span class="input">
  <label>Selesai</label>
  <%= f.text_field :finish, :id => "datepicker2"%>
</span>
<span class="clear"></span>

<span class="input">
  <label>Gejala penyakit</label>
  <%= f.text_field :disease_efect %>
</span>
<span class="clear"></span>

<span class="input">
  <label>Larangan</label>
  <%= f.text_field :reduction %>
</span>
<span class="clear"></span>

<span class="input">
  <label>Keterangan</label>
  <%= f.text_area :description, :rows=>3 ,:cols =>25 %>
</span>
<span class="clear"></span>
