<%= render :partial=> "layouts/shared/breadcrumbs" %>
<%= render :partial => "layouts/howto_menu" %>

<fieldset class="fm-table">
  <legend>
    <a href="#" id="help_dash" class="icons help-top-icon" title="Click to show/hide information">&nbsp;</a>
    Tambah Surat Peringatan
  </legend>
  <%= render :partial => "layouts/howto/howto_content"%>
  
    <div id="content-dynamic">
      <div class="input-help">
        <label>Field dengan tanda <span class="redstar">*</span> harus diisi</label>
      </div><div class="clear"></div>
      <div class="box-form">
        <% form_remote_for @violation, :url => memorandums_path do |f| %>
          <div id="box_retur_0">
            <%= render :partial => 'violation_form', :locals => {:f => f} %>
            <span class="clear"></span>
            
            <div class="block-btn-form">
              <%= render :partial => "layouts/button_loader" %>
              <div id="button">
                  <%if @person.id.blank?%>
                    <input id="info_section_cancel_basic" class="grey_button" type="reset" value="Batal" name="info_section_cancel_basic" onclick="onCancel('#memorandums')"/>
                  <%else%>
                    <% url = "#people/#{@person.id}/employments?tab=3" %>
                    <input id="info_section_cancel_basic" class="grey_button" type="reset" value="Batal" name="info_section_cancel_basic" onclick='onCancel("<%= url.to_s %>")'/>
                  <%end%>
                  <input type="submit" value="Simpan" name="info_section_save_basic" id="info_section_save_basic" class="blue_button" onclick="ajaxLoad1('button', 'ajax-load1')"/>
              </div>
            </div>          
          </div>
        <% end-%>
      </div>
    </div>
  
</fieldset>

<script type="text/javascript">

  function onCancel(url){
    window.location.href = url;
  }

  function ajaxLoad1(div_btn, div_load){
    $("#" + div_load + "").show();
    $("#" + div_btn + "").hide();
  }

  $(document).ready(function(){
    var current_count = <%= current_count_people.count %>;
    if (ar_name.length != current_count){
      ar_name = <%= current_people.map { |x| "#{x.full_data_name}" }.to_json %>;
      ar_id = <%= current_people.map { |x| x.id }.to_json %>
    }
    $("#person_name").autocomplete(ar_name);

    $( ".ui-date, .ui-date2" ).datepicker({
      buttonImageOnly: true
    })
  });

  function stop_filter(){
    $('#ajax-load1').hide();
    $('#button').show();
  }

</script>