<%= render :partial=> "layouts/shared/breadcrumbs" %>
<%= render :partial => "layouts/howto_menu" %>

<fieldset class="fm-table">
  <legend>
    <a href="#" id="help_dash" class="icons help-top-icon" title="Click to show/hide information">&nbsp;</a>
    Penjadwalan
  </legend>
  <%= render :partial => "layouts/howto/howto_content"%>
  <div class="panelFilter">
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <% unless @schedulelist_all.blank? %>
            <td>
              <div id="action_menu">
                <ul>
                  <li>
                    <a class="grey_button2" id="filter_trigger" style="color: rgb(89, 119, 156); ">
                      <span class="icons filter-ico">&nbsp;</span> Filter
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          <% end %>
          <td style="width:240px;">
            <div class="pagination">
              <% if current_features.include?('schedule_new') %>
                <%= link_to '<span class="icons add_ico">&nbsp;</span>Susun Jadwal Kerja', "#schedule/new", :class=>'grey_button2 ' %>
              <% end %>
            </div>
            <div class="clear"></div>
          </td>
        </tr>
        <tr id="filter_block" style="display: table-row; ">
          <td colspan="3">
            <div class="expand_filter">
              <div id="filter_st" style="display: block; ">
                <% form_remote_tag :url => {:action=>:index}, :method => :get do -%>
                  <%= hidden_field_tag "company_id", current_company_id %>
                  <div class="left-filter" style="margin-left: 100px">
                    <div id="filter_opt_1">
                      <div class="clear"></div>
                      <div class="filter_opt">
                        <label class="left">Nama Shift</label>
                        <%= collection_select :filter, :nama_shift , @shifts, :id, h(:shift_name), {:prompt => "Pilih Shift"}, :class => "left" %>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div id="filter_opt_2">
                      <div class="clear"></div>
                      <div class="filter_opt">
                        <label class="left">Nama Bagian</label>
                        <%= collection_select :filter, :nama_bagian , @divisions, :id, h(:name), {:prompt => "Pilih Bagian"}, :class => "left" %>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div id="filter_opt_3">
                      <div class="clear"></div>
                      <div class="filter_opt">
                        <label class="left">Nama Group</label>
                          <span class="group_list">
                            <%= collection_select :filter, "nama_group" , @work_groups, :id, h(:work_group_name), {:prompt => "Pilih Group"}, :class => "left", :disabled => "disabled" %>
                          </span>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                  <div class="right-filter">
                    <div id="filter_opt_4">
                      <div class="clear"></div>
                      <div class="filter_opt">
                        <label class="left">Nama Karyawan</label>
                        <%= text_field :filter, :nama_karyawan, :class => "left" %>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div id="filter_opt_5">
                      <div class="clear"></div>
                      <div class="filter_opt">
                        <label class="left">Periode</label>
                        <%= text_field_tag "temp_date",{},{:class => "small-text-table"}%>
                        <%= hidden_field :filter, :periode_start %>
                        <span>s/d</span>
                        <%= text_field_tag "temp_date2",{},{:class => "small-text-table"}%>
                        <%= hidden_field :filter, :periode_end %>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="center filter-btn">
                    <div style="display: none;" class="ajax-load" id="filter-load">
                      <img alt=""  src="/images/ajax-loader.gif"/>
                      Harap Tunggu
                    </div >
                    <a id="filter_button" >
                      <span class="center"><%= submit_tag 'Tampilkan', :class=>"grey_button2 margintop5", :onclick=> "progress_filter()", :style => 'float :none; margin-bottom :3px' %></span>
                      <div class="clear"></div>
                    </a>
                  </div>
                <%  end %>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="clear"></div>
  <div id="the_list">
    <%= render :partial => "list_schedules" %>
  </div>
</fieldset>

<script type="text/javascript">
  //Javascript Filter

  var gaiSelected =  [];
  function show_shift(){
    $('#shift').show();
    $('#group').hide();
  }

  function show_group(){
    $('#group').show();
    $('#shift').hide();
  }
  $(document).ready(function(){
    error_handle("<%= flash.now[:notice] %>");
    $('#filter_block').hide();
    $('#filter_trigger').click(function(){
      $(this).toggleClass("filter-active");
      $('#filter_block').toggle();
    });
    $('.expand_filter .reset-filter-ico').click(function(){
      $('#filter_block').hide();
      $('#filter_trigger').removeClass("filter-active")
    });
    //Filter_Step
    $('#filter_nd').hide();
    $('#next_step').click(function(){
      $('#filter_st').hide();
      $('#filter_nd').show();
    });
    $('#save_create, #cancel_create').click(function(){
      $('#filter_st').show();
      $('#filter_nd').hide();
    });

    $(".ui-date").datepicker({
      buttonImageOnly: true
    })

    $("#filter_periode_start").datepicker({
      altField: '#temp_date',
      altFormat: 'dd/mm/yy',
      dateFormat: 'yy-mm-dd',
      buttonImageOnly: true
    });

    $("#filter_periode_end").datepicker({
      altField: '#temp_date2',
      altFormat: 'dd/mm/yy',
      dateFormat: 'yy-mm-dd',
      buttonImageOnly: true
    });

    $('#reset_filter').live('click', function (e) {
      $.ajax({
        url: '/schedules',
        type: 'get',
        dataType: 'script',
        data: {'_method': 'get',"":gaiSelected },
        success: function() {
          window.location='#schedules';
        }
      });
    });
    $('#link_opt_1').live('click', function (e){
      e.preventDefault();
      $('.expand_filter').show();
      $('#filter_opt_1').show();
      $('#filter_button').show();
    });
    $('#icon_cancel_opt1').click(function(){
      $('#filter_opt_1').hide();
      $('#filter_nama_shift').val("");
      hide_all_search();
    });
    $('#link_opt_2').live('click', function (e){
      e.preventDefault();
      $('.expand_filter').show();
      $('#filter_opt_2').show();
      $('#filter_button').show();
    });
    $('#icon_cancel_opt2').click(function(){
      $('#filter_opt_2').hide();
      $('#filter_nama_bagian').val("");
      hide_all_search();
    });

    $('#link_opt_3').click(function (e){
      e.preventDefault();
      $('.expand_filter').show();
      $('#filter_opt_3').show();
      $('#filter_button').show();
    });

    $('#icon_cancel_opt3').click(function(){
      $('#filter_opt_3').hide();
      $('#filter_nama_group').val("");
      hide_all_search();
    });

    $('#link_opt_4').click(function (e){
      e.preventDefault();
      $('.expand_filter').show();
      $('#filter_opt_4').show();
      $('#filter_button').show();
    });

    $('#icon_cancel_opt4').click(function(){
      $('#filter_opt_4').hide();
      $('#filter_nama_karyawan').val("");
      hide_all_search();
    });
    $('#link_opt_5').click(function (e){
      e.preventDefault();
      $('.expand_filter').show();
      $('#filter_opt_5').show();
      $('#filter_button').show();
    });

    $('#icon_cancel_opt5').click(function(){
      $('#filter_opt_5').hide();
      $('#filter_periode_start').val("");
      $('#filter_periode_end').val("");
      hide_all_search();
    });

    $('#filter_nama_bagian').change(function() {
      if($(this).val()==""){$('#filter_nama_group').attr('disabled', 'disabled');}else{$('#filter_nama_group').removeAttr('disabled');}
      $.get("/schedules/groups_by_division", {id: $(this).val()}, null, "script");
    });
  });

  function hide_all_search(){
    a = false;
    if ($('#filter_opt_1').is(":visible")){
      a = true;
    }
    if ($('#filter_opt_2').is(":visible")){
      a = true;
    }
    if ($('#filter_opt_3').is(":visible")){
      a = true;
    }
    if ($('#filter_opt_4').is(":visible")){
      a = true;
    }
    if ($('#filter_opt_5').is(":visible")){
      a = true;
    }
    if (a != true){
      $('.expand_filter').hide();
    }
  }

  function progress_filter(){
    $('#filter-load').show();
    $('#filter_button').hide();
  }

  function stop_filter(){
    $('#filter-load').hide();
    $('#filter_button').show();
  }

</script>