<%= render :partial=> "layouts/shared/breadcrumbs" %>
<%= render :partial => "layouts/howto_menu" %>

<fieldset class="fm-table">
  <legend><a href="#" id="help_dash" class="icons help-top-icon" title="Click to show/hide information">&nbsp;</a>
   Tambah Shift</legend>
  <%= render :partial => "layouts/howto/howto_content"%>
  <div class="box-form">
    <% input_kd_shift = "input-field" %>
    <% err_kd_shift =  error_message_on @shift, :shift_code %>
    <% input_kd_shift = "input-error" unless err_kd_shift.blank? %>
    <% form_remote_for :work_time,  :url => { :action => "create"} do |f| %>
      <div class="fifty-fifty left">
        <div class="input">
          <span class="input-field width370">
            <label>Nama shift <span class="redstar">*</span></label><span class="left">&nbsp;</span>
            <%=  text_field_tag :shift_name , "" ,:title => 'Shift Name'%>
          </span>
          <div class="clear"></div>
          <div class="left">
            <span class="input-field width370">
              <label>Jenis shift </label><span class="left">&nbsp;</span>
              <%= select_tag :shift_category, options_for_select([["Shift", "Shift"], ["Non-Shift", "Non-Shift"],
                  ["Shift Driver", "Shift Driver"],["Shift Satpam", "Shift Satpam"]]) %>
            </span>
          </div>
          <div class="clear"></div>
          <span class="<%= input_kd_shift %> width370">
            <label>Kode shift <span class="redstar">*</span></label><span class="left">&nbsp;</span>
            <%=  text_field_tag :shift_code, "" ,:title => 'Kode Shift' %>
            <%= err_kd_shift %>
          </span>
          <span class="input-field width370" style="display:none">
            <%= label_tag :late_tolerance, 'Toleransi Terlambat' %>:
            <%= text_field_tag :late_tolerance, (@hr.blank? ? '' : @hr.lateness_tolerance_in_minutes),
              :class=>'small-text text-disabled' , :readonly=>'readonly' %> Menit
          </span>
        </div>
      </div>
      <div class="fifty-fifty left">
        <div class="input">
          <span class="input-field width370">
            <%= radio_button_tag :break_choice ,:per_day, true, :class => 'break' %>
            <%= label_tag 'break_choice_per_day', 'Durasi istirahat dalam per hari', :class => 'auto-size' %>
          </span>
          <span class="clear"></span>
          <span class="input-field width370">
            <%= radio_button_tag :break_choice ,:per_hour, false, :class => 'break'  %>
            <%= label_tag 'break_choice_per_hour', 'Durasi istirahat dalam per jam', :class => 'auto-size' %>
          </span>
          <span class="clear"></span>
          <span class="input-field width370">
            <%= f.label :working_hour_per_week, 'Lama kerja maksimal per minggu', :class => 'auto-size' %>&nbsp;
            <%= text_field_tag :working_hour_per_week, "40", :class=> 'small-text' %> Jam
          </span>
        </div>
      </div>

      <div class="clear"></div>
      <div>
        <fieldset class="fm-form">
          <legend>Jadwal Kerja</legend>
          <div class="frm-input">
            <table id="jadwal_kerja">
              <thead><tr>
                  <th width="13%" class="center-text">Hari</th>
                  <th width="24%" class="center-text">Jam Mulai Kerja</th>
                  <th width="24%" class="center-text">Jam Selesai Kerja</th>
                  <th width="13%" class="center-text">Istirahat<br/>(dalam menit/<span class ="title">hari</span>)</th>
                  <th width="13%" class="center-text">Lembur Wajib<br/>(dalam menit)</th>
                  <th width="13%" class="center-text">Libur</th>
                </tr>
                <tr >
                  <td class="center-text"> Senin</td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :start_time_1, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :end_time_1, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td>
                    <%= text_field_tag :break_1, "0", :class=>'checkTextField' %>
                  </td>
                  <td>
                    <%= text_field_tag :compulsory_1, "0", :class=>'checkTextField' %>
                  </td>
                  <td class="center-text">
                    <%= check_box_tag :c1,'vacation',false, :class=>'check' %>
                  </td>
                </tr>
                <tr class="alt" >
                  <td class="center-text">Selasa</td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :start_time_2, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :end_time_2, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td>
                    <%= text_field_tag :break_2, "0", :class=>'checkTextField' %>
                  </td>
                  <td>
                    <%= text_field_tag :compulsory_2, "0", :class=>'checkTextField' %>
                  </td>
                  <td class="center-text">
                    <%= check_box_tag :c2,'vacation',false, :class=>'check' %>
                  </td>
                </tr>
                <tr>
                  <td class="center-text">Rabu</td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :start_time_3, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :end_time_3,:default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td>
                    <%= text_field_tag :break_3, "0" , :class=>'checkTextField'%>
                  </td>
                  <td>
                    <%= text_field_tag :compulsory_3, "0", :class=>'checkTextField' %>
                  </td>
                  <td class="center-text">
                    <%= check_box_tag :c3,'vacation',false, :class=>'check' %>
                  </td>
                </tr>
                <tr class="alt">
                  <td class="center-text">Kamis</td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :start_time_4, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :end_time_4, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td>
                    <%= text_field_tag :break_4, "0", :class=>'checkTextField' %>
                  </td>
                  <td>
                    <%= text_field_tag :compulsory_4, "0", :class=>'checkTextField' %>
                  </td>
                  <td class="center-text">
                    <%= check_box_tag :c4,'vacation',false, :class=>'check' %>
                  </td>
                </tr>
                <tr>
                  <td class="center-text"> Jumat</td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :start_time_5, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :end_time_5, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td>
                    <%= text_field_tag :break_5, "0", :class=>'checkTextField' %>
                  </td>
                  <td>
                    <%= text_field_tag :compulsory_5, "0", :class=>'checkTextField' %>
                  </td>
                  <td class="center-text">
                    <%= check_box_tag :c5,'vacation',false, :class=>'check' %>
                  </td>
                </tr>
                <tr class="alt">
                  <td class="center-text">Sabtu</td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :start_time_6, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :end_time_6, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td>
                    <%= text_field_tag :break_6, "0", :class=>'checkTextField' %>
                  </td>
                  <td>
                    <%= text_field_tag :compulsory_6, "0", :class=>'checkTextField' %>
                  </td>
                  <td class="center-text">
                    <%= check_box_tag :c6,'vacation',false, :class=>'check' %>
                  </td>
                </tr>
                <tr>
                  <td class="center-text">Minggu</td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :start_time_7, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td class="center-text">
                    <div class="special">
                      <%= time_select("post", :end_time_7, :default=>{:hour => '00', :minute=>'00'}, :minute_step => 5) %>
                    </div>
                  </td>
                  <td>
                    <%= text_field_tag :break_7, "0" , :class=>'checkTextField'%>
                  </td>
                  <td>
                    <%= text_field_tag :compulsory_7, "0", :class=>'checkTextField' %>
                  </td>
                  <td class="center-text">
                    <%= check_box_tag :c7,'vacation',false, :class=>'check' %>
                  </td>
                </tr>
              </thead>
            </table>
          </div>
        </fieldset>
      </div>
      <div class="clear"></div>
      <hr />
      
      <div class="center-text box-form">
        <%= render :partial => "layouts/button_loader" %>
        <div id="button">
          <input id="info_section_cancel_basic" class="grey_button" type="reset" value="Batal" name="info_section_cancel_basic" onclick="onCancel('#shifts')"/>
          <input type="submit" value="Simpan" name="info_section_save_basic" id="info_section_save_basic" class="blue_button" onclick="ajaxLoad1('button','ajax-load1')"/>
        </div>
      </div>
    <%end%>
  </div>
</fieldset>

<script type="text/javascript">
  $(document).ready(function() {
    $('#work_time_break_length_in_minutes').attr('readOnly', 'readOnly');
    $('#work_time_break_per_hour_in_minutes').attr('readOnly', 'readOnly');

    if ($('#break_choice_max').is(':checked')){
      $('#work_time_break_length_in_minutes').removeAttr('readOnly');
    }
    if ($('#break_choice_per_hour').is(':checked')){
      $('#work_time_break_per_hour_in_minutes').removeAttr('readOnly');
    }
    var j = 0;

    $("#shift_name").labelify();

    $('.checkTextField').blur(function(){
      var temp = ($(this).val()).match(/^\d+$/);
      if (temp == null ){
        $(this).val(0);
      }
    });
    $('.check' ).click(function(){
      if ($(this).attr('id') == 'c1'){ j = 1;}
      if ($(this).attr('id') == 'c2'){ j = 2;}
      if ($(this).attr('id') == 'c3'){ j = 3;}
      if ($(this).attr('id') == 'c4'){ j = 4;}
      if ($(this).attr('id') == 'c5'){ j = 5;}
      if ($(this).attr('id') == 'c6'){ j = 6;}
      if ($(this).attr('id') == 'c7'){ j = 7;}
      if ($("#c"+j).is(':checked')){
        $("#post_start_time_"+j+"_4i").attr('disabled', 'disabled');
        $("#post_start_time_"+j+"_5i").attr('disabled', 'disabled');
        $("#post_end_time_"+j+"_4i").attr('disabled', 'disabled');
        $("#post_end_time_"+j+"_5i").attr('disabled', 'disabled');
        $("#break_"+j).attr('readOnly', 'readOnly');
        $("#break_"+j).val('0');
        $("#compulsory_"+j).attr('readOnly', 'readOnly');
        $("#post_start_time_"+j+"_4i").val("00");
        $("#post_start_time_"+j+"_5i").val("00");
        $("#post_end_time_"+j+"_4i").val("00");
        $("#post_end_time_"+j+"_5i").val("00");
      }
      else{
        $("#post_start_time_"+j+"_4i").removeAttr('disabled');
        $("#post_start_time_"+j+"_5i").removeAttr('disabled');
        $("#post_end_time_"+j+"_4i").removeAttr('disabled');
        $("#post_end_time_"+j+"_5i").removeAttr('disabled');
        $("#break_"+j).removeAttr('readOnly');
        $("#compulsory_"+j).removeAttr('readOnly');
        $("#post_start_time_"+j+"_4i").val(00);
        $("#post_start_time_"+j+"_5i").val(00);
        $("#post_end_time_"+j+"_4i").val(00);
        $("#post_end_time_"+j+"_5i").val(00);
      }
    });
    $('#break_choice_max').change(function(){
      $('#work_time_break_length_in_minutes').removeAttr('readOnly');
      $('#work_time_break_per_hour_in_minutes').attr('readOnly', 'readOnly');
      $("#work_time_break_per_hour_in_minutes").val(00);
    });
    $('#break_choice_per_hour').change(function(){
      $('#work_time_break_per_hour_in_minutes').removeAttr('readOnly');
      $('#work_time_break_length_in_minutes').attr('readOnly', 'readOnly');
      $("#work_time_break_length_in_minutes").val(00);
    });

    changeTitle();
    $('.break').click(function(){
      changeTitle();
    });
  });

  function changeTitle(){
    var name = $('input[name=break_choice]:checked').val();
    if(name == 'per_day'){
      $('.title').text("hari");
    }
    else{
      $('.title').text("jam");
    }
  }

  function ajaxLoad1(div_btn, div_load){
     $("#" + div_load + "").show();
     $("#" + div_btn + "").hide();
   }
</script>