<%= render :partial=> "layouts/shared/breadcrumbs" %>
<fieldset class="fm-table">
 <legend> <a href="#" id="help_dash" class="icons help-top-icon" title="Click to show/hide information">&nbsp;</a>
   Data Karyawan
 </legend>
  <%= render :partial => "layouts/howto/howto_content"%>
  <%= render :partial => 'layouts/profile_frame'%>
  <div class="right-information">
    <%= render :partial=>"layouts/top_menu_detail_karyawan" unless @is_user_login  %>
    <div id="content-dynamic">
      <fieldset class="fm-table-parent2">
        <div class="box-form">
          <div id="box_retur_0">
            <div class="clear"></div>
            <% form_remote_for @person, :url => change_informasi_gaji_salaries_path, :html => {:multipart => true} do |f| %>
              <%= f.hidden_field :id %>
              <div class="input">
                <span class="input-field">
                  <label>Nama Bank</label>:
                  <%= f.text_field :bank_name %>
                </span>
                <span class="clear"></span>

                <span class="input-field">
                  <label>No. rekening</label>:
                  <%= f.text_field :account_number %>
                </span>
                <span class="clear"></span>

                <span class="input-field">
                  <label>Nama pemilik rekening</label>:
                  <%= f.text_field :account_name %>
                </span>
                <span class="clear"></span>

                <span class="input-field">
                  <label>Nomor Jamsostek</label>:
                  <%= f.text_field :jamsostek_number %>
                </span>                
              </div>
              <span class="clear"></span>

              <div class="block-btn-form">
                <%= render :partial   => "layouts/button_loader"  %>
                <div id="button">
                  <input type="reset" onclick="onCancel('#salaries/informasi_gaji?person_id=<%= @person.id %>')" name="info_section_cancel_basic" value="Batal" class="grey_button" id="info_section_cancel_basic"/>
                  <input type="submit" class="blue_button" id="info_section_save_basic" name="info_section_save_basic" value="Simpan" />
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</fieldset>