
<div style="display:none;">
  <div class="frm-popup" id="popup_no_logout">
    <%- if @presence %>
      <div class="title-page-tambah">Absenkan Karyawan</div>
      <fieldset>
        <span class="input">
          <label>Nama Karyawan</label> :
          <%= @presence.person.full_name if @presence %>
        </span>
        <div class="clear"></div>
        <span class="input">
          <label>Tanggal Selesai Kerja</label> :
          <% unless @presence_detail.end_working.blank? %>
            <%= @presence.presence_date.strftime( "%d/%m/%Y" ) %>
            <%= hidden_field_tag "presence_date", @presence.presence_date.strftime( "%d/%m/%Y" ) %>
          <% else %>
            <% date = (@presence.presence_date.to_date..Date.today).to_a.reverse %>
            <%= select_tag :presence_date, options_for_select(date, :selected => @presence.presence_date.to_date) %>
          <% end %>
        </span>
        <div class="clear"></div>
        <%if @presence_detail.end_working.blank? %>
        <span class="input" id="time_end">
          <label>Jam Selesai Kerja</label>:
          <%= select_time(Time.now + 4.hours, {:time_separator => " : ", :minute_step => 5, :prefix => "end_working"}, {:class => "small-text"}) %>
        </span>
        <div class="clear"></div>
        <% end %>

        <%if @presence_detail.start_working.blank? %>
        <span class="input" id="time_end">
          <label>Jam Mulai Kerja</label>:
          <%= select_time(Time.now - 4.hours, {:time_separator => " : ", :minute_step => 5, :prefix => "end_working"}, {:class => "small-text"}) %>
        </span>
        <div class="clear"></div>
        <% end %>

        <hr>
        <!-- disini block button loading -->

        <div class="center-text  box-form">
          <input type="reset" id="info_section_cancel_basic" class="grey_button" value="Batal" name="info_section_cancel_basic" onclick="javascript:$.colorbox.close();">
          <input type="submit" value="Simpan" name="info_section_save_basic" id="info_section_save_basic" class="blue_button">
        </div>
      </fieldset>
    <%- end %>
  </div>
</div>

<style type="text/css">
  .input-data.dashboard_hr .input, .input-hidden {
    width: 540px;
  }
</style>

