<%= render :partial=> "layouts/shared/breadcrumbs" %>
<%= render :partial => "layouts/howto_menu" %>
<div class="clear"></div>

<fieldset class="fm-table">
  <legend>
    <a href="#" id="help_dash" class="icons help-top-icon" title="Click to show/hide information">&nbsp;</a>
    Lembur Karyawan
  </legend>
  <%= render :partial => "layouts/howto/howto_content"%>
  <script type="text/javascript">
    //Javascript Filter
    $(document).ready(function(){
      $('#filter_trigger').addClass("filter-active");
      $('#filter_block').show();
      $('#filter_trigger').click(function(){
        $(this).toggleClass("filter-active");
        $('#filter_block').toggle();
      });
      $('.expand_filter .reset-filter-ico').click(function(){
        $('#filter_block').hide();
        $('#filter_trigger').removeClass("filter-active")
      });
      //Filter_Step
      $('#filter_nd').hide();
      $('#next_step').click(function(){
        $('#filter_st').hide();
        $('#filter_nd').show();
      });
      $('#save_create, #cancel_create').click(function(){
        $('#filter_st').show();
        $('#filter_nd').hide();
      });
    });
  </script>
  <div class="panelFilter">
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td style="width:97px;" id="id_filter">
            <% if @overtime_exist > 0 %>
            <div class="action_menu">&nbsp;
              <a class="grey_button2" id="filter_trigger">
                <span class="icons filter-ico">&nbsp;</span> Filter
              </a>
            </div>
            <% end %>
          </td>
          <td class="right" id="id_export">
              <div class="action_menu">
                <ul>
                  <li>
                    <a class="grey_button2">
                      <span class="left">Export Data to</span>
                      <span class="icons drop_arrow_ico">&nbsp;</span>
                    </a>
                    <div class="clear"></div>
                    <ul>
                      <li><a class="list" href="/overtimes/export_overtime"><span class="icons xls_ico">&nbsp;</span><span class="left">XLS File</span></a></li>
                    </ul>
                  </li>
                </ul>
            </div>
            <div class="clear"></div>
          </td>
          <td>&nbsp;</td>
        </tr>
        <tr id="filter_block" style="display: table-row; ">
          <td colspan="3">
            <% if @overtime_exist > 0 %>
            <div class="expand_filter">
              <div id="filter_st" style="display: block; ">
                <div class="left-filter auto-size">
                  <div class="filter_opt">
                    <label class="left">Periode</label>
                    <select class="left auto" name="filter_select" id="filter_select"><option value="1"> Harian </option><option value="2"> Antara </option></select>
                    <span class="left" id="date_start">
                      <%= text_field_tag "temp_date",{},{:class => "left", :style => "width:115px !important"}%>
                      <%= hidden_field_tag :date,{},{:class => "left", :id => "date_pick"} %>
                    </span>
                    <span class="left" id="antara" style="display:none;">
                      &nbsp; s.d. &nbsp;
                    </span>
                    <span class="left" id="date_end" style="display:none;">
                      <%= text_field_tag "temp_date2",{},{:class => "left", :style => "width:115px !important"}%>
                      <%= hidden_field_tag :date,{},{:class => "left", :id => "date_pick2"} %>
                    </span>
                    <span class="left result_filter" style="display:none;"><%= l Date.today %></span>
                    <a id='remove_date_filter' class="icons cancel_ico" style="display:none;">&nbsp;</a>
                  </div>
                </div>
                <div class="right-filter">
                  <div class="filter_opt">
                    <label class="left">Nama</label>
                    <%= text_field_tag "name" %>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="center filter-btn">
                  <%= render :partial => "layouts/button_loader" %>
                  <a class="grey_button2" id="filter_button" style="float: none">
                    <span class="center">Tampilkan</span>
                  </a>
                </div>
              </div>
            </div>
          </td>
          <% end %>
        </tr>
      </tbody></table>

  </div>
  <div class="clear"></div>

  <%= render :partial => "list_overtimes_done" %>
  <div class="panelFilter">
    <div class="pagination">
      <span class="paginationResult"></span>
      <a ><span class="icons last_ico" id="last_page">&nbsp;</span></a>
      <a ><span class="icons next_ico" id="next_page">&nbsp;</span></a>
      <a ><span class="icons prev_ico" id="prev_page">&nbsp;</span></a>
      <a ><span class="icons first_ico" id="first_page">&nbsp;</span></a>
    </div>
  </div>
</fieldset>
<script type="text/javascript" >

  var oTable;
  var gaiSelected = new Array();
  var displayStart = 0;
  var dataLength = 0;

  $(document).ready(function() {
    removeNotifyMessage();
    resetInput();
    $("#date_pick").datepicker({
      altField: '#temp_date',
      buttonImageOnly: true,
      dateFormat: 'yy-mm-dd',
      maxDate: '+0',
      onSelect: function(dateText, inst) {
        if ($('#filter_button').is(":hidden")){
          $('#filter_button').click();
        }
      }
    });

    $("#date_pick2").datepicker({
      altField: '#temp_date2',
      dateFormat: 'yy-mm-dd',
      buttonImageOnly: true,
      maxDate: '+0'
    });
    $('#date_pick').datepicker("setDate",<%="#{Date.today.strftime("%d/%m/%Y")}"%>);

    oTable = $('#overtime_table').dataTable( {
      "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 0, 1, 2, 3, 4, 5, 6, 7 ] },
        { "sClass": "right-text", "aTargets": [ 2, 5 ] },
        { "sClass": "center-text", "aTargets": [ 0 ] }
      ],
      "bFilter": false,
      "bLengthChange": false,
      "bInfo":false,
      "bProcessing": false,
      "bServerSide": true,
      "iDisplayLength": 15,
      "fnDrawCallback": function(){
        gaiSelected=[];
        $('.dataTables_empty').parent().addClass('no-data');
      },
      "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
        /* Add Total Work Hour*/
        if ( aData[6] == "Pending" ){
          $(nRow).css({ background:"pink" });
        }
        return nRow;
      },
      "sAjaxSource":  "/overtimes/overtime_table",
      "oLanguage": {
        "sZeroRecords": "<div class='description center-text'>Data tidak ditemukan!</div>"
      },
      "fnServerData": function ( sSource, aoData, fnCallback ) {
        /* Add some extra data to the sender */

        aoData.push( { "name": "date_start", "value": $('#date_pick').val() } );
        aoData.push( { "name": "date_end", "value": $('#date_pick2').val() } );
        aoData.push( { "name": "name", "value": $('#name').val() } );
        //          aoData.push( { "name": "min", "value": $('#pers_min').val() } );
        //          aoData.push( { "name": "max", "value": $('#pers_max').val() } );
        fnSetKey(aoData, "iDisplayStart", displayStart );
        dataLength = fnGetKey(aoData, "iDisplayLength");
        $.getJSON( sSource, aoData, function (json) {
          if (json.iTotalDisplayRecords > 0){
            $( '.paginationResult' ).html( parseInt(displayStart) + 1 +" - "+ (parseInt(json.iTotalDisplayRecords) + parseInt(displayStart)) +" dari <span id='total'>"+ json.iTotalRecords +"</span>");
            $("#id_export").show();
          }
          else{
            $( '.paginationResult' ).html("&nbsp;");
            $("#id_export").hide();
          }
          if (json.iTotalRecords < dataLength ){
            $( '.panelFilter > .pagination' ).hide();
          } else{
            $( '.panelFilter > .pagination' ).show();
          }
          fnCallback(json);
          stop_filter();
        });
      }
    } );

    $('#overtime_table tbody tr td input').live('click', function () {
      var rowElement = $(this).parent().parent()
      var iId = this;
      if ( jQuery.inArray(iId.value, gaiSelected) == -1 ){
        gaiSelected[gaiSelected.length++] = iId.value;
        rowElement.addClass('row_selected');
        $(iId).attr( 'checked', true );
      }
      else{
        $(iId).attr( 'checked', false );
        $('#overtime_table thead tr th input').attr('checked', false);
        rowElement.removeClass('row_selected');
        gaiSelected = jQuery.grep(gaiSelected, function(value) {
          return value != iId.value;
        } );
      }
    } );

    $('#overtime_table thead tr th input').live('click', function () {
      if ($(this).is(":checked")) {
        $('#overtime_table tbody tr td input').each(function (){
          $(this).attr( 'checked', true );
          $(this).parent().parent().addClass('row_selected');
          var iId = this ;
          if ( jQuery.inArray(iId.value, gaiSelected) == -1 ){
            gaiSelected[gaiSelected.length++] = iId.value;
          }
        });
      }
      else{
        $('#overtime_table tbody tr').each(function (){
          $(this).removeClass('row_selected');
          var iId = $('#overtime_table tbody tr td input');
          gaiSelected = [];
          iId.attr( 'checked', false );
        });
      }
    } );

    $('#remove_date_filter').click(function (e) {
      e.preventDefault();
      displayStart=0;
      $(this).hide();
      $('#date_start').show();
      if ($('#filter_select').val() == '2'){
        $('#antara').show();
        $('#date_end').show();
        $('#date_pick2').datepicker("setDate",<%="#{Date.today.strftime("%d/%m/%Y")}"%>);
      }
      $('#date_pick').datepicker("setDate",<%="#{Date.today.strftime("%d/%m/%Y")}"%>);
      $('.result_filter').hide();
      $('#filter_button').show();
      oTable.fnDraw();
    });

    $('#filter_button').click(function (e) {
      progress_filter();
      e.preventDefault();
      displayStart=0;
      //$(this).hide();
      //$('#date_start').hide();
      //$('.result_filter').html($('#temp_date').val() );
      if ($('#filter_select').val() == '2'){
        //$('#antara').hide();
        //$('#date_end').hide();
        $('.result_filter').html($('#temp_date').val()+" s.d. "+$('#temp_date2').val() );
      }
      //$('#remove_date_filter').show();
      //$('.result_filter').show();
      oTable.fnDraw();
      return false;
    } );

    $('#filter_select').change(function(e){
      e.preventDefault();
      var selectValue = this.options[this.selectedIndex].value;
      if (selectValue == '1'){
        $('#remove_date_filter').click();
        $('#antara').hide();
        $('#date_end').hide();
        $('#date_pick2').datepicker("setDate", null);
      }
      if (selectValue == '2'){
        $('#remove_date_filter').click();
        $('#antara').show();
        $('#date_end').show();
      }
    } );

    $('#next_page').click(function(e){
      e.preventDefault();
      if (displayStart + dataLength < $('#total').text()){
        displayStart = displayStart + dataLength;
        oTable.fnDraw();
      }
      return false;
    } );

    $('#last_page').click(function(e){
      e.preventDefault();
      if (displayStart + dataLength < $('#total').text()){
        displayStart = (parseInt($('#total').text()/dataLength)*dataLength);
        oTable.fnDraw();
      }
      return false;
    } );

    $('#prev_page').click(function(e){
      e.preventDefault();
      if (displayStart > 0){
        displayStart = displayStart - dataLength;
        oTable.fnDraw();
      }
      return false;
    } );

    $('#first_page').click(function(e){
      e.preventDefault();
      if (displayStart > 0){
        displayStart = 0;
        oTable.fnDraw();
      }
      return false;
    } );

    $("#delete_action").click(function(e) {
      e.preventDefault();
      if (gaiSelected.length >= 1){
        if ( confirm("Data yang dipilih akan diabaikan, Anda yakin?") ){
          $.ajax({
            url: '/overtimes/overtime_action',
            type: 'put',
            dataType: 'script',
            data: { '_method': 'put',"presence_ids[]":gaiSelected },
            success: function() {
              // the item has been deleted
              // might want to remove it from the interface
              // or redirect or reload by setting window.location
              window.location='/overtimes';
            }
          });
        }
      }
    } );
  });

  function resetInput(){
    $('.expand_filter input').val('');
    $('#filter_select').val('1');
    displayStart = 0;
  }

  function progress_filter(){
    $("#ajax-load1").show();
    $('#filter_button').hide();
  }

  function stop_filter(){
    $("#ajax-load1").hide();
    $('#filter_button').show();
  }

</script>

