<%= render :partial => "layouts/howto_menu" %>
<div class="clear"></div>
<fieldset class="fm-table">
  <legend>
    <a href="#" id="help_dash" class="icons help-top-icon" title="Click to show/hide information">&nbsp;</a>  
    REKAP KEHADIRAN KARYAWAN
  </legend>
  <%= render :partial => "layouts/howto/howto_content"%>
 
  <div class="panelFilter">
    <table cellpadding="0" cellspacing="0">
      <tbody><tr>
          <td width="103">
            <div class="action_menu">&nbsp;
            </div>
          </td>

          <td width="835">
            <div class="action_menu">
              <ul>
                <li>
                  <a class="grey_button2" >
                    <span class="left">Add Filter</span>
                    <span class="icons drop_arrow_ico">&nbsp;</span>
                  </a>
                  <div class="clear"></div>
                  <ul>
                    <li><a class="list" id="link_opt_1" >Nama Karyawan</a></li>
                    <li><a class="list" id="link_opt_2" >Departemen</a></li>
                    <li><a class="list" id="link_opt_3" >Bagian</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <a class="grey_button2 loading-progress">
              <span class="left">Reset Filter</span>
            </a>

          </td>
          <td width="115">
            <div class="action_menu">
              <ul>
                <li>
                  <a class="grey_button2" >
                    <span class="left">Export Data to</span>
                    <span class="icons drop_arrow_ico">&nbsp;</span>
                  </a>
                  <div class="clear"></div>
                  <ul>
                    <li><a class="list" id="export_xls"><span class="icons xls_ico">&nbsp;</span><span class="left">XLS File</span></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
          </td>

        </tr>
        <tr>
          <td></td>
          <td>
            <% form_remote_for :presence_report, :url => {:action => :presence_report_table}, :method => :get, :html => {:id => "form_presence_report", :name => "presence_report"} do |f|  %>
              <div class="expand_filter">
                <div class="filter_opt">
                  <label class="left">Periode</label>
                  <span class="left">:</span>
                  <span class="left" id="date_start">
                    <%= text_field_tag "temp_date",{},{:class => "left", :style => "width:120px !important;"}%>
                    <%= hidden_field_tag :date_start,{},{:class => "left", :id => "date_pick"} %>
                    &nbsp; s.d. &nbsp;
                  </span>
                  <span class="left" id="date_end">
                    <%= text_field_tag "temp_date2",{},{:class => "left", :style => "width:120px !important;"}%>
                    <%= hidden_field_tag :date_end,{},{:class => "left", :id => "date_pick2"} %>
                  </span>
                  <span class="left result_filter" style="width:350px; display:none;"><%= l Date.today %>
                  </span>
                  <span class="left">
                    <a id='remove_filter' class="icons cancel_ico" style="display:none;">&nbsp;</a>
                  </span>
                  <div class="clear"></div>
                </div>
                <div class="filter_opt" id="filter_opt_1" style="display:none;">
                  <label class="left">Nama</label>
                  <input type="text" class="left" id="filter_name">
                  <span class="left" id="text_name" style="display:none;"></span>
                  <a class="icons cancel_ico remove_filter">&nbsp;</a>
                  <div class="clear"></div>
                </div>

                <div class="filter_opt" id="filter_opt_2" style="display:none;">
                  <label class="left">Departemen</label>
                  <span class="left">
                    <%= collection_select(:filter, :department, @departments, :id, :department_name, options ={:prompt => "Pilih Departemen"}) %>
                  </span>
                  <span class="left" id="text_department" style="display:none;"></span>
                  <a class="left icons cancel_ico remove_filter">&nbsp;</a>
                  <div class="clear"></div>
                </div>

                <div class="filter_opt" id="filter_opt_3" style="display:none;">
                  <label class="left">Bagian</label>
                  <span class="left">
                    <%= collection_select(:filter, :division, @divisions, :id, :name, options ={:prompt => "Pilih Bagian"}) %>
                  </span>
                  <span class="left" id="text_division" style="display:none;"></span>
                  <a class="left icons cancel_ico remove_filter">&nbsp;</a>
                  <div class="clear"></div>
                </div>

                <a class="grey_button2 loading-progress" id="filter_button">
                  <span class="left">Go</span>
                </a>
              </div>
            <% end %>
          </td>
          <td></td>
        </tr>
      </tbody></table>
  </div>
  <div class="clear"></div>
  <div id="report_table">
    <%= render :partial => "list_presence_report" %>
  </div>
  <div class="panelFilter">
    <div class="pagination">
      <span class="paginationResult"><%= "1 - #{@iTotalDisplayRecords} dari #{@iTotalRecords}" %></span>
      <a ><span class="icons last_ico" id="last_page">&nbsp;</span></a>
      <a ><span class="icons next_ico" id="next_page">&nbsp;</span></a>
      <a ><span class="icons prev_ico" id="prev_page">&nbsp;</span></a>
      <a ><span class="icons first_ico" id="first_page">&nbsp;</span></a>
      <div class="clear"></div>
    </div>
  </div>
</fieldset>
<%= render :partial => "absences/popup_pages/popup_export_report" %>

<script type="text/javascript" >
  var displayStart = 0;
  var dataLength = 0;

  $(document).ready(function() {
    $("#date_pick").datepicker({
      altField: '#temp_date',
      altFormat: 'dd/mm/yy',
      dateFormat: 'yy-mm-dd',
      maxDate: '+0',
      buttonImageOnly: true
    });

    $("#date_pick2").datepicker({
      altField: '#temp_date2',
      altFormat: 'dd/mm/yy',
      dateFormat: 'yy-mm-dd',
      buttonImageOnly: true,
      maxDate: '+0'
    });

    $("#popup_date_pick").datepicker({
      altField: '#popup_temp_date',
      altFormat: 'dd/mm/yy',
      dateFormat: 'yy-mm-dd',
      buttonImageOnly: true,
      maxDate: '+0'
    });
    $("#popup_date_pick2").datepicker({
      altField: '#popup_temp_date2',
      altFormat: 'dd/mm/yy',
      dateFormat: 'yy-mm-dd',
      buttonImageOnly: true,
      maxDate: '+0'
    });
    $('#date_pick').datepicker("setDate",<%="#{Date.today.strftime("%d/%m/%Y")}"%>);
    $('#date_pick2').datepicker("setDate",<%="#{Date.today.strftime("%d/%m/%Y")}"%>);
    $('#popup_date_pick').datepicker("setDate",<%="#{Date.today.strftime("%d/%m/%Y")}"%>);
    $('#popup_date_pick2').datepicker("setDate",<%="#{Date.today.strftime("%d/%m/%Y")}"%>);

    $('#link_opt_1').click(function (e){
      e.preventDefault();
      $('#filter_opt_1').show();
      $('#filter_button').show();
    });

    $('#link_opt_2').click(function (e){
      e.preventDefault();
      $('#filter_opt_2').show();
      $('#filter_button').show();
    });

    $('#link_opt_3').click(function (e){
      e.preventDefault();
      $('#filter_opt_3').show();
      $('#filter_button').show();
    });

    $('#filter_button').click(function (e) {
      e.preventDefault();
      $("#ajax-load").show();
      $(this).hide();
      $('#date_start').hide();
      $('#date_end').hide();
      $('#remove_filter').show();
      $('.result_filter').show();
      $('.result_filter').html($('#temp_date').val()+" s.d. "+$('#temp_date2').val());
      resetTablePage($('#date_pick').val(), $('#date_pick2').val());
      $("#ajax-load").hide();
      return false;
    } );

    $('#remove_filter').click(function (e) {
      e.preventDefault();
      $(this).hide();
      $('.result_filter').hide();
      $('#date_start').show();
      $('#date_end').show();
      $('#filter_button').show();
      $('#date_pick').datepicker("setDate",<%="#{Date.yesterday.strftime("%d/%m/%Y")}"%>);
      $('#date_pick2').datepicker("setDate",<%="#{Date.yesterday.strftime("%d/%m/%Y")}"%>);
      resetTablePage(<%="'#{Date.today.strftime("%Y-%m-%d")}'"%>, <%="'#{Date.today.strftime("%Y-%m-%d")}'"%>);
      return false;
    });

    $("#export_xls").colorbox({width:"auto",height:"auto", inline:true, href:"#popup_export_report",
      onComplete: function(){
      },
      onClosed: function(){
      }
    });

    $('#next_page').click(function(e){
      e.preventDefault();
      if (displayStart + dataLength < $('#total').text()){
        $("#ajax-load").show();
        displayStart = displayStart + dataLength;
        oTable.fnDraw();
        $("#ajax-load").hide();
      }
      return false;
    } );

    $('#last_page').click(function(e){
      e.preventDefault();
      if (displayStart + dataLength < $('#total').text()){
        $("#ajax-load").show();
        displayStart = (Math.floor((parseInt($('#total').text()-1)/dataLength))*dataLength);
        oTable.fnDraw();
        $("#ajax-load").hide();
      }
      return false;
    } );

    $('#prev_page').click(function(e){
      e.preventDefault();
      if (displayStart > 0){
        $("#ajax-load").show();
        displayStart = displayStart - dataLength;
        oTable.fnDraw();
        $("#ajax-load").hide();
      }
      return false;
    } );

    $('#first_page').click(function(e){
      e.preventDefault();
      if (displayStart > 0){
        $("#ajax-load").show();
        displayStart = 0;
        oTable.fnDraw();
        $("#ajax-load").hide();
      }
      return false;
    } );

  });

  function resetTablePage(date_start, date_end){
    $.get('/absences/presence_report_table',
    { "date_start": date_start, "date_end": date_end });
  }
</script>

