<% input_basic_salary = "input-field" %>
<% err_basic_salary = error_message_on @data_master_salary, :basic_salary %>
<% input_basic_salary = "input-error" unless err_basic_salary.blank? %>

<% input_valid_from = "input-field" %>
<% err_valid_from = error_message_on @data_master_salary, :valid_from %>
<% input_valid_from = "input-error" unless err_valid_from.blank? %>

<div class="input">
  <span class="input-field">
    <label>Nama karyawan <span class="redstar">*</span></label>:
    <%= text_field_tag 'person', nil, :id => "person-name" %>
    <span id="spinner-karyawan" style="display:none">
      <%= image_tag "/images/ajax-loader.gif" %>
    </span>
  </span>
  <span class="clear"></span>

  <span class="<%= input_valid_from %>">
    <label>Berlaku Mulai <span class="redstar">*</span></label>:
    <%= f.text_field :valid_from, :class => "ui-date"%>
    <%= err_valid_from %>
  </span>
  <span class="clear"></span>

  <span class="<%= input_basic_salary %>">
    <label>Gaji Pokok <span class="redstar">*</span></label><span class="left">:&nbsp;</span>
    <%= f.text_field :basic_salary, :value => "" %>
    <%= err_basic_salary %>
  </span>

  <span class="input-field">
    <label>Potongan Koperasi</label><span class="left">:&nbsp;</span>
    <%= f.text_field :cooperation_cut, :value => "" %>
  </span>

  <% @premiums.each do |x| %>
    <span class="input-field">
      <label><%= x.premium_name %></label>
      <span class="left">:&nbsp;</span>
      <input type="text" value="" name="salary_master_data[new_premium_master_data][<%= x.id %>]"/>
    </span>
    <span class="clear"></span>
  <% end %>
  <span class="clear"></span>
</div>
<span class="clear"></span>